<h4 id="foot" class="ui mini right aligned icon"><i class="instagram icon"></i><i class="facebook f icon"></i><i class="twitter square icon"></i></h4>
<h4 id="head" ><i class="copyright outline icon"></i> 2019 All rights reserved.</h4>


 </body>
</html>