<html>
    <head>
        <title>
            Blog App
        </title>
        <link rel="stylesheet" type"text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> 
    <link rel="stylesheet" type"text/css" href="/stylesheets/app.css"> 
    </head>
    <body>
        <div class="ui inverted segment">
  <div class="ui inverted secondary menu">
      <i class="code icon"></i>
    <a class="active item">
      Blog Site
    </a>
    <a class="item" href="/">
      Home
    </a>
    <a class="item" href="/blogs/new">
      New Post
    </a>
  </div>
</div>
   